@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family:
    "Pretendard",
    "Noto Sans KR",
    "Segoe UI",
    "Apple SD Gothic Neo",
    sans-serif;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
  background: #f5f7fb;
}
